@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.whatsapp-pulse {
  animation: pulse 2s infinite;
}
